---
---
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content = {Astro.generator} >
        <title>Astro</title>
    </head>
  	<a href="/">首页</a>
    <a href="/about/">关于</a>
	<a href="/blog">博客</a>
    <body>
        <h1>Welcome to the Astro Blog!</h1>
        <p>This is the main blog page of the Astro blog tutorial.</p>
        <p>Here, you'll find a collection of blog posts that demonstrate how to use Astro to build fast and optimized websites.</p>
        <p>Feel free to explore the posts and learn more about Astro!</p>
    </body>
</html>