---
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro Hello Title H1</h1>
	<p>Astro Hello Paragraph P</p>
  </body>
  <body>
	<h2>Astro Hello Title H2</h2>
	<p>Astro Hello Paragraph P2</p>
	<img src="https://cowboy-cyber.github.io/post_img/covers/sgd-adam.png" alt="Astro Logo" />
	<p>Astro Hello Paragraph P3</p>
  </body>
</html>