---
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
	<a href="/">首页</a>
    <a href="/about/">关于</a>
	<a href="/blog">博客</a>
    <h1>Astro Hello Title H1</h1>
	<p>Astro Hello Paragraph P</p>
  </body>
  <body>
	<h2>Astro Hello Title H2</h2>
	<p>Astro Hello Paragraph P2</p>
	<!-- <img src="https://cowboy-cyber.github.io/post_img/covers/sgd-adam.png" alt="Astro Logo" /> -->
	<p>Astro Hello Paragraph P3</p>
	<p>Astro Hello Paragraph P4</p>
	<!-- 无序列表 -->
	<ul>
		<li>Astro Hello Unordered List Item ULI1</li>
		<li>Astro Hello Unordered List Item ULI2</li>
		<li>Astro Hello Unordered List Item ULI3</li>
	</ul>
	<!-- 有序列表 -->
	<ol>
		<li>Astro Hello Ordered List Item OLI1</li>
		<li>Astro Hello Ordered List Item OLI2</li>
		<li>Astro Hello Ordered List Item OLI3</li>
		<li>Astro Hello Ordered List Item OLI4</li>
	</ol>
	<a href="/">首页</a>
    <a href="/about/">关于</a>

  </body>
  <body>
	<a href="/">首页</a>
  </body>
  <body>
	<a href="/about/">关于</a>
  </body>

  	<a href="/">首页</a> <a href="/about/">关于</a>
</html>